
<h1 class="text-2xl font-bold mb-4">Error</h1>
<p class="text-red-500"><%= message %></p>
<% if (error.stack) { %>
  <pre><%= error.stack %></pre>
<% } %>
<a href="/" class="text-blue-500">Back to Home</a>